/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent_font-family: 'PressStart2P-Regular', sans-serif;
  --logo_font-size: clamp(3.0625rem, 2.4847rem + 2.4653vw, 4.0625rem);
  --page_title_font-size: clamp(0.875rem, 0.55rem + 1.3867vw, 1.4375rem);
  --accent_font-size: 14px;
  --font-style: normal;
  --accent_line-height: 1em;
  --accent_font-weight: 400;

  --main_font-family: 'Inter-Variable', sans-serif;
  --main_label_font-var-settings: 'wght' 700, 'slnt' 0;
  --main_text_font-var-settings: 'wght' 400, 'slnt' 0;
  --main_font-size: 18px;
  --main_line-height: 1.3em;

  --background-color: #FFFFFF;
  --color: #000000;
  --button_text_color: #FFFFFF;
  --heart_contour_color: #000000;
  --heart_sparks_color: red;

  --background-image: 
    repeating-linear-gradient(transparent 2px, #d3d3d3 2px 4px, transparent 4px 6px),
    repeating-linear-gradient(90deg, #d3d3d3 2px, transparent 2px 4px, #d3d3d3 4px 6px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);

}